/* Menu responsivo - https://www.youtube.com/watch?v=bHRXRYTppHM */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.nav-a:hover{
    color: #1b1b1b;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: aqua;
}

.logo:hover{
    color: aqua;
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
    font-weight: 500;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    float: left;
    list-style: none;
}

.nav-list li:hover {
    background-color: #00ffff80;   
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffff;
    margin: 8px;
}

@media(max-width: 900px){

    body{
        overflow-x: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 71px;
        right: 0;
        width: 40vw;
        height: 30vh;
        background: #333333 !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.3s ease-in;
        overflow: hidden;
    }

    .nav-list li{
        margin: 0;
        opacity: 0;
    }
    
    .logo{
        display: inline-flex;
    }

    .mobile-menu{
        display: block;
        margin-left: 28%;
        float: right;
    }

    .nav-list.active{
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* Sticky header parar tornar o cabeçalho fixo - https://www.w3schools.com/howto/howto_js_sticky_header.asp */

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333333;
    height: 71px;
    overflow: hidden; 
    border-bottom: 2px solid #efeaea;
    box-shadow: 0 4px 4px rgb(0 0 0 / 30%); 
}

  .content {
    padding: 16px;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9; 
  }
  
  header + .content {
    padding-top: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
  }

  
  /* Primeira página - https://github.com/eduhejband/VueQuasar/blob/master/Vue/Vue/src/pages/IndexPage.vue */
#home{
    height: 700px;
    background-color: black;
}

.homeLayout{
    display: flex;
    word-wrap: break-word;
    z-index: 5;
}

body{
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.textBox{
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 10%;
    margin-left: 8%;
    padding: 2vw;
    box-shadow: 4px 4px 16px 16px #00ffff80; 
    height: 200px; 
    width: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    flex-wrap: wrap;
}

.textBox:hover{
    transform: scale(1.1);
}

.apresentacaoCelular{
    display: none;
}

.nome {
    display: inline-block;
    text-transform: uppercase;
    color: #f7e7e7;
    font: 700 normal 1.5em 'tahoma'; 
    letter-spacing: 3.3px;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}

.profissao{
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    height: 22px;
    font: 700 normal 1.2em 'tahoma';
    letter-spacing: 3.3px;
    text-transform: uppercase; 
    animation: 
    typing 3s steps(60, end);
    overflow: hidden; 
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

/*Holograma da Terra - https://codepen.io/pedroo_andre/pen/KKZmNPK*/
#earth {
    margin-right: 3%;
    margin-top: 8%;
    margin-left: 15%;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: transparent url("https://i.imgur.com/Qk4UXcU.png");
    background-size: cover;
    box-shadow: inset 0px -20px 50px 10px #00ffff80,
        0px 0px 30px 6px #00ffff70;
    transform-style: preserve-3d;
    transform: rotate(20deg);
    animation: rotate 15s linear infinite;
}

#earth:hover{
    transform: scale(1.1);
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 530px 0;
    }
}

/*Botões da primeira tela - https://gabrielaguaru.github.io/*/
.botoes{
    display: flex;
    align-items: center;
}

.botaoGit{
    color: white;
    text-decoration: none;
    margin-left: 11%;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 170px;
    border: 0.2vw solid aqua;
    border-radius: 8px;
    position: relative;
    background:transparent;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 3.3px;
    height: 52px;
    margin-top: -20px;
}

.botaoLink{
    color: white;
    text-decoration: none;
    margin-left: 8%;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 170px;
    border: 0.2vw solid aqua;
    border-radius: 8px;
    position: relative;
    background:transparent;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing:3.3px;
    height: 52px;
    margin-top: -20px;
}

.botaoGit:hover{
    background: linear-gradient( -45deg, rgba(147, 88, 247, 1), rgb(3, 95, 100) );
    background-size: 400%;
    animation: move infinite forwards 4s;
}

.botaoLink:hover{
    background: linear-gradient( -45deg, rgba(147, 88, 247, 1), rgb(3, 95, 100) );
    background-size: 400%;
    animation: move infinite forwards 4s;
}


/*Logo dos botões - https://gabrielaguaru.github.io/*/
.gitLogo{
    width: 30px;
    height: 30px;
}

.linkLogo{
    width: 30px;
    height: 30px;
}

p{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Scroll efeito - https://gabrielaguaru.github.io/*/
.scroll{
    position: absolute;
    margin-top: 80px;
    margin-left: 50%;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2.2px;
}


.scrollLogo{
    animation: scroll-down 1s infinite forwards;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 10px, 0);
    }
}

/*Media query para telas maiores que 1200px (a aplicação não será responsiva para telas maiores que 1500px visto que o site é focado para desktops)*/
@media(min-width:1300px){

    #home{
        height: 900px;
    }
    .textBox{
        height: 300px; 
        width: 600px; 
        margin-left: 15%;
    }

    .nome {
        font: 700 normal 1.7em 'tahoma'; 
        line-height: 135px;
    }
    
    .profissao{
        font: 700 normal 1.4em 'tahoma'; 
    }

    #earth{
        height: 350px;
        width:350px;
        margin-left: 17%;
        margin-right: 3%;
    }

    .botaoGit{
        margin-left: 17%;
        margin-top: 70px;
        height: 70px;
        width: 200px;
        font-size: 20px;
    }

    .botaoLink{
        margin-top: 70px;
        margin-left: 117px;
        height: 70px;
        width: 200px;
        font-size: 17px;
    }

    .gitLogo{
        width: 40px;
        height: 40px;
    }
    
    .linkLogo{
        width: 35px;
        height: 35px;
    }

    .scroll{
        margin-top: 5vw;
        margin-left: 46vw;
    }  
}

@media(max-width:1000px){
    .homeLayout{
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }

    .textBox{
        margin-top: 100px;
        height: 200px; 
        width: 350px;
        padding: 0; 
        margin-right: 5%;
        margin-left: 5%;   
    }

    .nome {
        margin-top: 15%;
        font: 700 normal 1.0em 'tahoma'; 
        line-height: 90px;
    }
    
    .profissao{
        font: 900 normal 0.9em 'tahoma'; 
        height:20px;
    }

    #earth{
        display: none;
    }
    .botoes{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content:center;
        margin: 1rem auto;
    }

    .botaoGit{
        margin-top: 70px;
        height: 60px;
        width: 150px;
        font-size: 0.85rem;
        margin-left: 28.5%;
       
    }

    .botaoLink{
        margin-top: 70px;
        height: 60px;
        width: 150px;
        font-size: 0.75rem;
        margin-right: 28%;
        margin-left: 10%;
    }

    .gitLogo{
        width: 30px;
        height: 30px;
    }
    
    .linkLogo{
        width: 25px;
        height: 25px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5px;
    }

    .scroll{
        margin-top: 80px;
        margin-left: 44%;
        margin-right: 40%;
        font-size: 15px;
    }  
}

@media(max-width:500px){
    .textBox:hover{
        transform: none;
    }
}

@media(max-width:400px){
    .textBox{
       display: none;
    }

    .apresentacaoCelular{
        display: flex;
        flex-direction: column;
        width: 100%;
        visibility: visible;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .nomeCelular{
        text-align: center;
        color: aqua;
        font-size: 1.8rem;
        font-weight: bold;
        
        
    }
    .profissaoCelular{
        display: inline-block;
        margin-top: 48px;
        color: aqua;
        font-size: 1.5rem;  
      }

    .nomeCelular::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(255, 255, 255);
        transition: width .3s;
    }

    .nomeCelular:hover::after{
        width: 100%;
    }
    
    .profissaoCelular::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: rgb(255, 255, 255);
        transition: width .3s;
    }

    .profissaoCelular:hover::after{
        width: 100%;
    }

    .botaoGit{
        margin-top: 70px;
        height: 50px;
        width: 120px;
        font-size: 0.75rem;
        margin-left: 28.5%;
       
    }

    .botaoLink{
        margin-top: 70px;
        height: 50px;
        width: 120px;
        font-size: 0.65rem;
        margin-right: 28%;
        margin-left: 10%;
    }

    .gitLogo{
        width: 25px;
        height: 25px;
    }
    
    .linkLogo{
        width: 20px;
        height: 20px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5px;
    }

    .scroll{
        margin-top: 80px;
        margin-left: 40%;
        margin-right: 40%;
        font-size: 15px;
    }  

    }


/*Scroll bar e selection color - https://gabrielaguaru.github.io/*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background-color: #00d2df;
    border-radius: 5px;
}

::selection {
    background-color: rgb(51, 111, 164);
}




/*Segunda página*/

#sobre{
    display: flex;
    justify-content: space-evenly;
    background-color: #151515;
    z-index: 0;
    position:relative;
    height: 600px;  
}

.titulo2{
    margin-top: 12%;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00d2df;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
}

.endereco{
    font-size: 1.2em;
    margin-top: 40px;
    margin-left: 0;
    color: #efeaea;
    margin-right: 5%;
    margin-left: 5%;
}

.apresentacao{
    margin-top: 40px;
    color: white;
    font-size: 1.3rem;
    width: 50vw;
    margin-right: 5%;
    margin-left: 5%;
}

.fotoPerfil{
    position: relative;
    display: flex;
    height: 275px;
    width: 275px;
    margin-top: 160px;
    margin-left: 10%;
    border:8px inset #29aed2;
	padding:15px;
	background: #000000;
}


/* Fonte usada como modelo para criação de janela -> https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    margin-top: 15%;
    background-color: #91bbed;
    margin-left: 25%;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* Botão de fechar */
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    margin-top:-15px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }

  #myInput{
    width: 175px;
  }


  /* "Copy select" da janela, fonte -> https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_copy_clipboard2*/
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  /*Botões da segunda página*/

.botaoEmail{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 170px;
    border: 0.2vw solid aqua;
    border-radius: 8px;
    position: relative;
    background:transparent;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 3.3px;
    height: 52px;
    margin-top: 60px;
    margin-left: 5%;
}

.botaoCurriculo{
    color: white;
    text-decoration: none;
    margin-left: 250px;
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 170px;
    border: 0.2vw solid aqua;
    border-radius: 8px;
    position: relative;
    background:transparent;
    transition: 0.3s;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing:3.3px;
    height: 52px;
    margin-top: -52px;
}

.emailLogo{
    width: 30px;
    height: 30px;
}

.curriculoLogo{
    width: 30px;
    height: 30px;
}

.botaoEmail:hover{
    background: linear-gradient( -45deg, rgba(147, 88, 247, 1), rgb(3, 95, 100) );
    background-size: 400%;
    animation: move infinite forwards 4s;
}

.botaoCurriculo:hover{
    background: linear-gradient( -45deg, rgba(147, 88, 247, 1), rgb(3, 95, 100) );
    background-size: 400%;
    animation: move infinite forwards 4s;
}

/* Tornando página responsiva*/

@media(min-width:1300px){
    
    #sobre{
        height: 850px;
    }

    .titulo2{
        font-size: 29px;
        margin-top: 10%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .endereco{
        font-size: 1.7em;
        margin-top: 58.5px;
        margin-left: 0;
        color: #efeaea;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .apresentacao{
        margin-top: 40px;
        color: white;
        font-size: 1.8rem;
        width: 47vw;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .fotoPerfil{
        display: flex;
        height: 400px;
        width: 400px;
        margin-top: 180px;
        margin-left: 10%;
    }
    
    .botoes2{
        display: flex;
        flex-direction: row;
    }

    .botaoEmail{
        height: 70px;
        width: 200px;
        font-size: 20px;
        margin-left: 5%;

    }

    .botaoCurriculo{
        height: 70px;
        width: 200px;
        font-size: 20px;
        margin-top: 60px;
        margin-left: 117px;
    }
    
    .emailLogo{
        width: 40px;
        height: 40px;
    }
    
    .curriculoLogo{
        width: 40px;
        height: 40px;
    }

}

@media(max-width:1000px){
    #sobre{
        flex-direction: column;
        align-items: center;  
        height: auto;
        justify-content: space-around;
    }

    .titulo2{
        font-size: 21px;
        text-align: center;
        margin: 0;
        margin-top: 50px;
        margin-left: 2.3%;
    }

    .endereco{
        font-size: 1.0rem;
        margin: 0;
        color: #efeaea;
        text-align: center;
        margin-top: 30px;
        margin-left: 2.3%;
    }
    
    .apresentacao{
        display: flex;
        color: white;
        font-size: 1.3rem; 
        width: 50%;
        margin: 0;
        margin-top: 20px;
        margin-left: 26%;
        margin-right: 5%;
        text-align: center;
    }
    
    .fotoPerfil{
        display: flex;
        height: 250px;
        width: 250px;
        margin-top: 70px;
        padding: 0;
        margin-left: 4%;
        margin-right: 71%;
    }
    
    .botoes2{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content:center;
        margin: 1rem auto;
    }

    .botaoEmail{
        margin-top: 30px;
        height: 60px;
        width: 150px;
        font-size: 1.0rem;
        margin-left: 28.5%;
        margin-bottom: 40px;
        text-align: center;
        padding-right: 4%;
        padding-left: 4%;
    }

    .botaoCurriculo{
        margin-top: 30px;
        height: 60px;
        width: 150px;
        font-size: 0.8rem;
        margin-right: 28%;
        margin-left: 8%;
        margin-bottom: 40px;
        padding-left: 1%;
        padding-right: 1.5%;
    }
    
    .emailLogo{
        width: 30px;
        height: 30px;
        margin-right: 15%;
        margin-left: 5%;
    }
    
    .curriculoLogo{
        width: 25px;
        height: 25px;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media(max-width:750px){

    .botaoCurriculo{
        margin-left: 5%;
    }
}

@media(max-width:400px){

    .titulo2{
        font-size: 21px;
        margin-left: 1.5%;
        margin-right: 1%;
        text-align: center;
        margin-top: 50px;
        -webkit-text-stroke-width: 1.5px;
    }

    .endereco{
        font-size: 1.0rem;
        margin: 0;
        color: #efeaea;
        text-align: center;
        margin-top: 30px;
        margin-left: 1%;
    }
    
    .apresentacao{
        display: flex;
        color: white;
        font-size: 1.2rem; 
        width: 50%;
        margin: 0;
        margin-top: 20px;
        margin-left: 26%;
        margin-right: 74%;
        text-align: center;
    }
    
    .fotoPerfil{
        height: 200px;
        width: 200px;
        padding: 0;
        margin-left: 1%;
        margin-right: 74%;
    }
    
    .botoes2{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
    }
    
    .botaoEmail{
        margin-top: 70px;
        height: 50px;
        width: 120px;
        font-size: 0.75rem;
        margin-left: 28.5%;
       
    }

    .botaoCurriculo{
        margin-top: 70px;
        height: 50px;
        width: 120px;
        font-size: 0.65rem;
        margin-right: 28%;
        margin-left: 10%;
    }

    .emailLogo{
        width: 25px;
        height: 25px;
    }
    
    .curriculoLogo{
        width: 20px;
        height: 20px;
        margin-right: 5%;
        margin-left: 5%;
    }
    
  #myInput{
    width: 30vw;
  }
}


/* Terceira página*/
.terceiro {
    width: 100%;
    height: auto;
    perspective: 900;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Titillium Web", sans-serif;
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    padding: 30px; 
    align-items: center;
  }
  
  .tituloSecao{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:600px;
    position: absolute;
}

.tituloTerceiro{
    display:center;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00d2df;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    margin: 20px 0;
    margin-top: 40px;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
}

/* Accordion CSS - https://codepen.io/alvarotrigo/pen/qBpBezx*/
.corpoTerceiro{
    margin-top: 140px;
}

  .transition, ul li i:before, ul li i:after, p {
    transition: all 0.25s ease-in-out;
  }
  
  .no-select, h2 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (max-width: 550px) {
    .terceiro {
      box-sizing: border-box;
      transform: translate(0, 0);
      max-width: 100%;
      min-height: 100%;
      margin: 0;
      left: 0;
    }
  }
  
.accordion{
    perspective: 900;
    padding: 0;
    margin: 0;
}
.terceiroExTitulo{
    color: aqua;
    font-size: 25px;
}
.terceiroExDescricao{
    color: white;
    font-size: 1.3rem;
}
.listaEx{
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 3px dotted #dce7eb;
  }
  .listaEx:nth-of-type(1) {
    animation-delay: 0.5s;
  }
  .listaEx:nth-of-type(2) {
    animation-delay: 0.75s;
  }
  .listaEx:nth-of-type(3) {
    animation-delay: 1s;
  }
  .listaEx:last-of-type {
    padding-bottom: 0;
  }
  .listaEx i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
  }
  .listaEx i:before, ul li i:after {
    content: "";
    position: absolute;
    background-color: aqua;
    width: 3px;
    height: 9px;
  }
  .listaEx i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  .listaEx i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  .listaEx input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
  }
  .listaEx input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
  }
  .listaEx input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  .listaEx input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }
  
  .ultimoItemLista{
    border-bottom: 3px dotted #dce7eb;
}


.dwith{
    height: 35px;
    width: 110px;
    display: inline-block;
}

.sertel{
    height: 30px;
    width:145px;
    display: inline-block;
}

.facens{
    width: 140px;
    height: 40px;
    display: inline-block;
}

/* Tornando página responsiva*/

@media(min-width:1300px){
    .tituloTerceiro{
        font-size: 29px;
        margin-top: 50px;
    }

    .corpoTerceiro{
        margin-top: 150px;
    }

    .terceiroExTitulo{
        color: aqua;
        font-size: 29px;
    }
    
    .terceiroExDescricao{
        color: white;
        font-size: 1.5rem;
    }

    .dwith{
        height: 40px;
        width: 120px;
        display: inline-block;
    }
    
    .sertel{
        height: 30px;
        width:150px;
        display: inline-block;
    }
    
    .facens{
        width: 180px;
        height: 50px;
        display: inline-block;
    }
}

@media(max-width:1000px){
    
    .tituloTerceiro{
        font-size: 23px;
        margin-right: 50%;
        margin-left: 45%;
    }

    .terceiroExTitulo{
        font-size: 24px;
        margin: 0;
    }

    .terceiroExDescricao{
        color: white;
        font-size: 1.4rem;
    }
}

@media(max-width:750px){
    .tituloTerceiro{
        
        margin-right: 52%;
        margin-left: 43%;
    }
}

@media(max-width:400px){

    .tituloTerceiro{
        font-size: 21px;
        -webkit-text-stroke-width: 1.6px;
    }

    .terceiroExTitulo{
        font-size: 21px;
    }

    .terceiroExDescricao{
        color: white;
        font-size: 1.2rem;
    }
}

/* Gambiarra para ajustar o tamanho da terceira página*/
.listaHide{
    visibility: hidden;
}


/*Quarta página*/
#projetos{
    display: flex;
    background-color: #151515;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    margin-top: -5px; 
    z-index: -1;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 900px;
  
}

.tituloSecaoQuarto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:65       0px;
    position: absolute;
}

.tituloQuarto{
    display:center;
    text-align: center;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00d2df;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    margin: 20px 0;
    margin-bottom: 725px;
    font-size: 25px;
    margin-right: 5%;
    margin-left: 5%;
}

/* Para criar os cards, utilizei como guia os dois links cohttps://www.w3schools.com/howto/howto_css_column_cards.asp e https://codepen.io/saviomartin/pen/LYNgqKW*/
.container {
    width: 1150px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.container .card {
    position: relative;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    margin-top: 50px;
}

.container .card img {
    transition: 0.5s;
}

.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 20px;
    text-align: center;
}

.container .card .content p {
    color: #666;
    transition: 0.5s;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: aqua;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}

.container .card:hover {
    background-color: #2eb3dc;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    border-color: #2e9cdc;
}

.container .card:hover img {
    filter: invert(1);
}

.container .card:hover .content p {
    color: rgb(0, 0, 0);
}

.container .card:hover .content a{
    color:black;
    background-color: white;
}

.garden{
    width: 200px;
    height: 200px;
}

.cardText{
    font-size: 1.2rem;
}

.tecnologia{
    font-size: 1.2rem;
    color: rgb(3, 3, 61) !important;
}

.botaoCard{
    font-weight: bold !important;
}

/*Tornando cards Responsivos*/
@media(min-width:1521px){

    #projetos{
        height: 800px;
    }

    .tituloSecaoQuarto{
        margin-bottom: 750px;
    }

    .tituloQuarto{
        font-size: 29px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .container {
        width: 100%;
        margin-top: 50px;
    }
    
    .container .card {
        width: 450px;
    }

    .cardText{
        font-size: 1.3rem;
    } 

}

@media(max-width:1520px) and (min-width:1300px){
    
    #projetos{
        height: 1600px;
    }
    .tituloSecaoQuarto{
        margin-bottom: 600px;
    }

    .container {
        width: 100%;
        margin-top: 50px;
    }

    .container .card {
        width: 450px;
    }

    .cardText{
        font-size: 1.3rem;
    } 
}

@media(max-width:1059px) and (min-width:820px){
    
    #projetos{
        height: 1600px;
    }
    .tituloSecaoQuarto{
        margin-bottom: 700px;
    }

    .container {
        width: 100%;
        margin-top: 50px;
    }

    .container .card {
        width: 350px;
    }

    .container .card h1 {
        font-size: 1.9rem;
    }
}

@media(max-width:819px){
    
    #projetos{
        height: 2200px;
    }
    .tituloSecaoQuarto{
        margin-bottom: 1300px;
    }

    .container {
        width: 100%;
    }

    .container .card {
        width: 350px;
    }

    .container .card:hover {
        margin-top: 50px;
    }

    .container .card h1 {
        font-size: 1.9rem;
    }
}

@media(max-width:400px) {
    
    #projetos{
        height: auto;
        align-items: baseline;
    }

    .tituloQuarto{
        font-size: 23px;
        -webkit-text-stroke-width: 1.6px;
    }

    .tituloSecaoQuarto{
        margin-bottom: 1200px;
        margin-top: 50px;
    }

    .container .card {
        width: 350px;
    }

    .container .card:hover {
        margin-top: 50px;
    }

    .container .card h1 {
        font-size: 1.7rem;
    }
}



footer{
    background-color: black;
    color: #00d2df;
    z-index: 99999999;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
    flex-direction: row;
}

.footerImg{
    margin-top: 25px;
    height: 60px;
    width: 120px;
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 20px;
}

.footerImg1{
    margin-top: 25px;
    height: 60px;
    width: 180px;
    margin-top: 20px;
    margin-left: 43%;
    margin-right: 40%;
    margin-bottom: 10px;
}



html{
    background-color: #000;
    z-index: -999999;
}
